/* # Content Area
  ---------------------------------------------------------------------------------------------------- */

/* ## Entries
  --------------------------------------------- */

.entry {
  background-color: $white;
  margin-bottom: 4rem;
  padding: 7rem 8rem;
}

.entry-content {
  ol,
  ul {
    margin-bottom: 2.8rem;
    margin-left: 4rem;
  }
  ol > li {
    list-style-type: decimal;
  }
  ul > li {
    list-style-type: disc;
  }
  ol ol,
  ul ul {
    margin-bottom: 0;
  }
  code {
    background-color: $dark-grey;
    color: $lightest-grey;
  }
}

/* ## Entry Meta
    --------------------------------------------- */

p.entry-meta {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.entry-header .entry-meta {
  margin-bottom: 2.4rem;
}

.entry-footer .entry-meta {
  border-top: 1px solid $lightest-grey;
  padding-top: 2.4rem;
}

.entry-categories,
.entry-tags {
  display: block;
}

.entry-comments-link::before {
  content: "\2014";
  margin: 0 0.6rem 0 0.2rem;
}

/* ## Pagination
    --------------------------------------------- */

.pagination {
  clear: both;
  margin: 4rem 0;
}

.adjacent-entry-pagination {
  margin-bottom: 0;
}

.archive-pagination {
  li {
    display: inline;
  }
  a {
    background-color: $white;
    color: $dark-grey;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.8rem 1.2rem;
    text-decoration: none;
    &:focus,
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
  .active a {
    background-color: $primary;
    color: $white;
  }
}

/* ## Comments
    --------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
  background-color: $white;
  font-size: 1.6rem;
  margin-bottom: 40px;
}

.comment-respond,
.entry-pings {
  padding: 6rem 6rem 3.2rem;
}

.entry-comments {
  padding: 6rem;
}

.comment-list {
  li {
    padding: 4rem 0 0 3rem;
  }
  .depth-1 {
    padding-left: 0;
  }
}

.comment-header {
  margin-bottom: 3rem;
}

.comment-content {
  clear: both;
  ul > li {
    list-style-type: disc;
  }
}

.comment-respond {
  input {
    &[type="email"],
    &[type="text"],
    &[type="url"] {
      width: 50%;
    }
  }
  label {
    display: block;
    margin-right: 1.2rem;
  }
}

.comment-header p {
  margin-bottom: 0;
}

.entry-pings .reply {
  display: none;
}
