/* # Footer Widgets
  ---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  background-color: $white;
  clear: both;
  font-size: 1.8rem;
  padding: 6rem 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  width: 38rem;
}

.footer-widgets-1 {
  margin-right: 7rem;
  float: left;
}

.footer-widgets-2 {
  float: left;
}

.footer-widgets-3 {
  float: right;
}
