/* # Plugins
  ---------------------------------------------------------------------------------------------------- */

/* ## Genesis eNews Extended
  --------------------------------------------- */

.sidebar {
  .enews-widget {
    color: $white;
    .widget-title {
      color: $white;
    }
  }
  .widget.enews-widget {
    background-color: $dark-grey;
  }
  .enews-widget input {
    border: 1px solid $dark-grey;
    &:focus {
      border: 1px solid $dark-grey;
    }
    &[type="submit"] {
      background-color: $primary;
      color: $white;
      &:focus,
      &:hover {
        background-color: $white;
        color: $dark-grey;
      }
    }
  }
}

.enews-widget input {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  &[type="submit"] {
    margin: 0;
    width: 100%;
  }
}

.enews form + p {
  margin-top: 2.4rem;
}

/* ## Jetpack
    --------------------------------------------- */

#wpstats {
  display: none;
}
