/* # Sidebars
  ---------------------------------------------------------------------------------------------------- */

.sidebar {
  font-size: 1.6rem;
  margin-bottom: 4rem;
  .widget {
    background-color: $white;
    padding: 4rem;
  }
}
